<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-4 margin-b-l immutable-app-image-grid">
    <a href="{{{origSrc}}}" target="image">
    {{#if source.length}}
        {{>immutable-app-image-picture}}
    {{else}}
        {{>immutable-app-image-img}}
    {{/if}}
    </a>
    <div class="center image-name">
        {{imageName}}
    </div>
    <div class="center">
        {{imageId}}
    </div>
    <div class="center">
        <a href="/image/{{imageId}}/delete">Delete</a>
    </div>
</div>